---
import { Image } from "astro:assets";
import milestonesScreenshot from "../../assets/pages/features/milestones.png";
import checkinScreenshot from "../../assets/pages/features/check-in.png";
import discussionsScreenshot from "../../assets/pages/features/discussions.png";
import kanbanScreenshot from "../../assets/pages/features/kanban.png";
import reviewScreenshot from "../../assets/pages/features/review.png";
---

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-base/7 font-semibold text-operately-blue">
      Manage projects
    </h2>
    <p
      class="mt-2 max-w-3xl text-pretty text-4xl font-semibold tracking-tight text-gray-950 sm:text-5xl"
    >
      Standardize project management and ship on time
    </p>
    <div
      class="mt-10 grid grid-cols-1 gap-4 sm:mt-16 lg:grid-cols-6 lg:grid-rows-2"
    >
      <div class="relative lg:col-span-3">
        <div class="absolute inset-px rounded-lg bg-white lg:rounded-tl-[2rem]">
        </div>
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] lg:rounded-tl-[calc(2rem+1px)]"
        >
          <Image
            src={checkinScreenshot}
            alt="Check-in"
            class="h-80 object-cover object-left"
          />
          <div class="p-10 pt-4">
            <h3 class="text-sm/4 font-semibold text-operately-blue">
              Clarify roles and responsibilities
            </h3>
            <p class="mt-2 text-lg/7 font-medium tracking-tight text-gray-950">
              Make accountability clear.
            </p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
              Project champions drive progress with regular check-ins, reviewers
              ensure quality. Everyone knows what they need to do.
            </p>
          </div>
        </div>
        <div
          class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 lg:rounded-tl-[2rem]"
        >
        </div>
      </div>
      <div class="relative lg:col-span-3">
        <div
          class="absolute inset-px rounded-lg bg-white max-lg:rounded-t-[2rem] lg:rounded-tr-[2rem]"
        >
        </div>
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-t-[calc(2rem+1px)] lg:rounded-tr-[calc(2rem+1px)]"
        >
          <Image
            src={milestonesScreenshot}
            alt="Milestones"
            class="h-80 object-cover object-left"
          />
          <div class="p-10 pt-4">
            <h3 class="text-sm/4 font-semibold text-operately-blue">
              Track work from start to finish
            </h3>
            <p class="mt-2 text-lg/7 font-medium tracking-tight text-gray-950">
              Organize your work with milestones.
            </p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
              Give everyone visibility into what's next and encourage thinking
              about efficient solutions with deadlines.
            </p>
          </div>
        </div>
        <div
          class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 max-lg:rounded-t-[2rem] lg:rounded-tr-[2rem]"
        >
        </div>
      </div>

      <div class="relative lg:col-span-2">
        <div class="absolute inset-px rounded-lg bg-white lg:rounded-bl-[2rem]">
        </div>
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] lg:rounded-bl-[calc(2rem+1px)]"
        >
          <Image
            src={kanbanScreenshot}
            alt="Kanban task board"
            class="h-80 object-cover object-left"
          />
          <div class="p-10 pt-4">
            <h3 class="text-sm/4 font-semibold text-operately-blue">
              Kanban boards
            </h3>
            <p class="mt-2 text-lg/7 font-medium tracking-tight text-gray-950">
              See tasks in motion.
            </p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
              Track progress visually—from planning to completion—with flexible
              boards.
            </p>
          </div>
        </div>
        <div
          class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 lg:rounded-bl-[2rem]"
        >
        </div>
      </div>
      <div class="relative lg:col-span-2">
        <div class="absolute inset-px rounded-lg bg-white"></div>
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)]"
        >
          <Image
            src={discussionsScreenshot}
            alt="Message"
            class="h-80 object-cover object-center"
          />
          <div class="p-10 pt-4">
            <h3 class="text-sm/4 font-semibold text-operately-blue">
              Message boards
            </h3>
            <p class="mt-2 text-lg/7 font-medium tracking-tight text-gray-950">
              Keep discussions focused.
            </p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
              Replace scattered email threads with organized project
              conversations.
            </p>
          </div>
        </div>
        <div
          class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5"
        >
        </div>
      </div>
      <div class="relative lg:col-span-2">
        <div
          class="absolute inset-px rounded-lg bg-white max-lg:rounded-b-[2rem] lg:rounded-br-[2rem]"
        >
        </div>
        <div
          class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-br-[calc(2rem+1px)]"
        >
          <Image
            src={reviewScreenshot}
            alt="Personal Review screen"
            class="h-80 object-cover object-center"
          />
          <div class="p-10 pt-4">
            <h3 class="text-sm/4 font-semibold text-operately-blue">
              Stay organized
            </h3>
            <p class="mt-2 text-lg/7 font-medium tracking-tight text-gray-950">
              Never miss your part.
            </p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
              See everything waiting for your action or approval on a single
              screen.
            </p>
          </div>
        </div>
        <div
          class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 max-lg:rounded-b-[2rem] lg:rounded-br-[2rem]"
        >
        </div>
      </div>
    </div>
  </div>
</div>
