---
import {
  DiscordIcon,
  GitHubIcon,
  LinkedInIcon,
  XIcon,
  YouTubeIcon,
} from "./Icons";

const discordUrl = import.meta.env.PUBLIC_DISCORD_URL;
const githubUrl = import.meta.env.PUBLIC_GITHUB_URL;
const linkedinUrl = import.meta.env.PUBLIC_LINKEDIN_URL;
const xUrl = import.meta.env.PUBLIC_X_URL;
const youtubeUrl = import.meta.env.PUBLIC_YOUTUBE_URL;
const bookaDemoUrl = import.meta.env.PUBLIC_BOOK_A_DEMO_URL;

const navigation = {
  product: [
    { name: "Book a demo", href: bookaDemoUrl },
    { name: "Features", href: "/features" },
    { name: "Releases", href: "/releases" },
    { name: "Roadmap", href: "/roadmap" },
    { name: "GitHub", href: "https://github.com/operately/operately" },
  ],
  resources: [
    { name: "Blog", href: "https://blog.operately.com" },
    { name: "Operations Handbook", href: "/blueprint" },
    { name: "KPI Examples", href: "https://kpiexamples.operately.com" },
    { name: "Employee Handbook", href: "/handbook" },
  ],
  company: [
    { name: "Masterplan", href: "/masterplan" },
    {
      name: ["Open source ", "<span style='color: red'>&#x2764;</span>"],
      href: "/open-source",
    },
    { name: "Jobs", href: "/jobs" },
  ],
  legal: [
    { name: "Terms of service", href: "/legal/terms" },
    { name: "Privacy policy", href: "/legal/privacy-policy" },
    { name: "Security policy", href: "/legal/security-policy" },
  ],
  social: [
    {
      name: "Discord",
      href: discordUrl,
      icon: (props) => DiscordIcon(props),
    },
    {
      name: "GitHub",
      href: githubUrl,
      icon: (props) => GitHubIcon(props),
    },
    {
      name: "LinkedIn",
      href: linkedinUrl,
      icon: (props) => LinkedInIcon(props),
    },
    {
      name: "X",
      href: xUrl,
      icon: (props) => XIcon(props),
    },
    {
      name: "YouTube",
      href: youtubeUrl,
      icon: (props) => YouTubeIcon(props),
    },
  ],
};
---

<footer class="bg-white">
  <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-8">
        <a href="/"><img class="h-12" src="/favicon.svg" alt="Operately" /></a>
        <p class="text-balance text-sm/6 text-gray-600">
          The open source startup operating system.
        </p>
        <div class="flex gap-x-6">
          {
            navigation.social.map((item) => (
              <a
                href={item.href}
                class="text-gray-600 hover:text-operately-blue"
              >
                <span class="sr-only">{item.name}</span>
                <item.icon className="h-6 w-6" aria-hidden="true" />
              </a>
            ))
          }
        </div>
      </div>
      <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm/6 font-semibold text-gray-900">Product</h3>
            <ul role="list" class="mt-6 space-y-4">
              {
                navigation.product.map((item) => (
                  <li>
                    <a
                      href={item.href}
                      class="text-sm/6 text-gray-600 hover:text-operately-blue"
                    >
                      {item.name}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
          <div class="mt-10 md:mt-0">
            <h3 class="text-sm/6 font-semibold text-gray-900">Resources</h3>
            <ul role="list" class="mt-6 space-y-4">
              {
                navigation.resources.map((item) => (
                  <li>
                    <a
                      href={item.href}
                      class="text-sm/6 text-gray-600 hover:text-operately-blue"
                    >
                      {item.name}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm/6 font-semibold text-gray-900">Company</h3>
            <ul role="list" class="mt-6 space-y-4">
              {
                navigation.company.map((item) => (
                  <li>
                    <a
                      href={item.href}
                      class="text-sm/6 text-gray-600 hover:text-operately-blue"
                    >
                      {/* Astro syntax to safely render HTML from JSON that may contain emoji */}
                      {Array.isArray(item.name) ? (
                        <Fragment set:html={item.name.join("")} />
                      ) : (
                        item.name
                      )}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
          <div class="mt-10 md:mt-0">
            <h3 class="text-sm/6 font-semibold text-gray-900">Legal</h3>
            <ul role="list" class="mt-6 space-y-4">
              {
                navigation.legal.map((item) => (
                  <li>
                    <a
                      href={item.href}
                      class="text-sm/6 text-gray-600 hover:text-operately-blue"
                    >
                      {item.name}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-16 border-t border-gray-900/10 pt-8 sm:mt-20 lg:mt-24">
      <p class="text-sm/6 text-gray-600">
        &copy; {new Date().getFullYear()} Operately doo · All rights reserved ·
        <a
          href="https://github.com/operately/website"
          class="hover:text-operately-blue">Source</a
        >
      </p>
    </div>
  </div>
</footer>
