---
import Header from '../components/Header';
import Footer from '../components/Footer';

const {frontmatter} = Astro.props;

let imagePath, twitterCardType;

if (frontmatter.image) {
  imagePath = frontmatter.image;
  twitterCardType = 'summary_large_image';
} else {
  imagePath = "/images/social/card-summary.png";
  twitterCardType = 'summary';
}

const socialImageUrl = new URL(imagePath, Astro.url);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <title>{frontmatter.title} - Operately</title>
    {frontmatter.description? <meta name="description" content={frontmatter.description} /> <meta name="twitter:description" content={frontmatter.description} /> : null}
    <meta property="og:title" content={frontmatter.title} />
    <meta property="og:site_name" content="Operately" />
    <meta property="og:image" content={socialImageUrl} />
    <meta name="twitter:card" content={twitterCardType} />
    <meta name="twitter:site" content="@operately" />
    <meta name="twitter:title" content={frontmatter.title} />
    <meta name="twitter:image" content={socialImageUrl} /> 
  </head>
  <body>
    <Header client:load />
        <div class="bg-white px-6 py-16 lg:px-8 mt-8 sm:mt-16">
            <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
              <article class="prose lg:prose-lg prose-a:text-operately-blue prose-th:bg-operately-blue-tint-1 prose-th:p-2 prose-th:pb-2 prose-td:text-left prose-th:text-left even:prose-tr:bg-gray-100">
                <slot />
              </article>
            </div>
        </div>
    <Footer client:load />
  </body>
</html>
